.solution__box {
  padding-bottom: 96px;
  border-bottom: 1px solid #8a8a8a;
}

.solution__img-container-4-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.solution__img-container-4-row .project__img-box:nth-child(2) {
  display: flex;
}