.workingAtCygenic__box {
  padding-bottom: 48px;
  border-bottom: 1px solid #8a8a8a;
}

.workingAtCygenic__container {
  width: 80%;
}

.workingAtCygenic__header {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
}

.workingAtCygenic__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}

.workingAtCygenic__text {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
}

.vacancy__box {
  padding-bottom: 96px;
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 96px;
}

.vacancy__box:nth-child(2) {
  padding-bottom: 96px;
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 0;
}




.vacancy__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}

.vacancy__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}

.vacancy__skills {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;
}

.vacancy__skill {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
}


@media (max-width: 960px) {
  .workingAtCygenic__container {
    width: 100%;
  }

  .workingAtCygenic__box {
    width: 100%;
  }

  .workingAtCygenic__header {
    font-size: 48px;
  }

  .workingAtCygenic__title {
    font-size: 20px;
  }

  .workingAtCygenic__text {
    font-size: 14px;
    width: 100%;
  }

}

@media (max-width: 660px) {
  .workingAtCygenic__container {
    width: 100%;
  }

  .workingAtCygenic__box {
    width: 100%;
  }

  .workingAtCygenic__header {
    font-size: 32px;
  }

  .workingAtCygenic__title {
    font-size: 20px;
  }

  .workingAtCygenic__text {
    font-size: 14px;
    width: 100%;
  }
}


.workingAtCygenic__link {
  text-decoration: none;
  padding: 16px 32px;
  font-weight: 500;
  background-color: transparent;
  color: #111111;
  border: 2px solid #FEDC5A;
  border-radius: 8px;
}

.workingAtCygenic__link:hover {
  background-color: #FEDC5A;
}

