.modalForm__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalForm__container {
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modalForm__text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}
