.partner24__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 96px;
}

.partner24__box-item:first-child {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
  box-sizing: border-box;
}

.partner24__box-item:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.partner24__header {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

.partner24__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  margin: 0;
}



@media (max-width: 960px) {
  .partner24__box-item:first-child {
    width: 60%;
  }

  .partner24__box-item:nth-child(2) {
    width: 40%;
  }

  .partner24__header {
    font-size: 48px;
  }

  .partner24__img {
    width: 210px;
    height: 214px;
  }
}

@media (max-width: 660px) {
  .partner24__box {
    display: flex;
    flex-direction: column;
  }
  .partner24__box-item:first-child {
    width: 100%;
    margin-bottom: 46px;
  }

  .partner24__box-item:nth-child(2) {
    width: 100%;
  }

  .partner24__header {
    font-size: 32px;
  }

  .partner24__img {
    width: 301px;
    height: 306px;
  }
}