.personalAccountsPage__header-banner {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 110%;
  color: #000000;
  margin: 0;
}

@media (max-width: 960px) {
  .personalAccountsPage__header-banner{
    font-size: 48px;
  }
}

@media (max-width: 660px) {
  .personalAccountsPage__header-banner {
    font-size: 24px;
  }
}



