.bannerVideo {
  position: relative;
  width: 100%;
  min-height: 250px;
  background: linear-gradient(87.65deg, #F3F3F3 -1.23%, #E7E7E7 101.72%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 96px;
}

.bannerVideo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.05);
  z-index: 1;
}

.bannerVideo__video {
  position: absolute;
      /* filter: grayscale(100%) opacity(80%); */

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill
}

.bannerVideo__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 3;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: #000000;
  margin: 0;
  z-index: 0;
}

@media (max-width: 960px) {
  .bannerVideo {
    min-height: 160px;
  }
  .bannerVideo__header {
    font-size: 64px;
  }
}

@media (max-width: 660px) {
  .bannerVideo {
    min-height: 100px;
    margin-bottom: 48px;
  }
  .bannerVideo__header {
    font-size: 32px;
  }
}
