.home__container {
  position: relative;
  /* background-image: url(/src/assets/icons/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0; */
  overflow: hidden;
}



.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 405px;
  margin-bottom: 97px;
}

.advantages {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 405px;
}

.directions {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 405px;
  margin-bottom: 97px;
}

.clients {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 405px;
  margin-bottom: 97px;
}

.Form {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 405px;
}

.vendors {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 405px;
  margin-bottom: 97px;
}


@media (max-width: 960px) {
  .home__container {
    /* background-image: url(/src/assets/icons/bg.svg);
    background-repeat: no-repeat;
    background-size: 1500px;
    overflow: hidden; */
  }
  .vendors {
    margin-bottom: 0;
  }
}

@media (max-width: 660px) {
  .home__container {
    /* background-image: url(/src/assets/icons/bg.svg);
    background-repeat: no-repeat;
    background-size: 1500px;
    overflow: hidden; */
  }
}